@import "root";
@import "variables";
@import "card";
@import "buttons";
@import "typography";

.test-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  height: 100vh;
}